@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');


img.img-fluid{
    position: absolute;
}
.header{
    position: fixed;
    z-index: 100;
    transition: all 0.3s;
}
.header.active{
    background-color: #263873!important;
}
.header_logo{
    padding-left: 75px;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h1{
    font-weight: 800;
    font-size: 3em;
    font-family: 'Open Sans';
}
.hero-text p{
    margin-bottom: 100px;
}

.hero-text .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}
.hero-text .input-group input {
    height: 60px;
    padding: 20px;
    line-height: 60px;
    border: 0;
    width: 90%;
}
.hero-text .input-group .input-group-append .btn {
    height: 52px;
    padding: 0 40px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}
.hero-text .input-group .input-group-append .btn i{
    padding-right: 10px;
}
section.popular_destinations{
    margin-top: -10rem;
    padding: 0 6rem;
    display: none;
}
.popular_destinations .row .col-md-2 p{
    color: #263873;
    opacity: 0.1;
    font-family: 'Open Sans';
    transform: rotate(-90deg) translate(-100%, 100%);
    transform-origin: 0 100%;
    top: 10rem;
    position: relative;
}
.card-img-overlay p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.popular_destinations .row .col-md-10 .row .card{
    border: none;
}